{% extends 'main/dashboard.html' %}
{% load static %}
      {% block words %}
      <div class="row mb-4">
        <div class="col-lg-8 col-md-6 mb-md-0 mb-4">
          <div class="card">
            <div class="card-header pb-0">
              <div class="row">
                {% if word_to_find %}
                <div class="col-lg-6 col-7">
                  <h6>Results for {{word_to_find}}</h6>
                  <p class="text-sm mb-0">
                    <i class="fa fa-check text-info" aria-hidden="true"></i>
                    There are<span class="font-weight-bold ms-1">{{pagination.count}}</span> results for<span class="font-weight-bold ms-1">{{word_to_find}}</span> 
                  </p>
                </div>
                {% else %}
                <div class="col-lg-6 col-7">
                  <h6>Latest Words</h6>
                  <p class="text-sm mb-0">
                    <i class="fa fa-check text-info" aria-hidden="true"></i>
                    These are the<span class="font-weight-bold ms-1">{{last_10_definitions|length}} latest words added</span>
                  </p>
                </div>
                {% endif %}
                <div class="col-lg-6 col-5 my-auto text-end">
                  <div class="dropdown float-lg-end pe-4">
                    <a class="cursor-pointer" id="dropdownTable" data-bs-toggle="dropdown" aria-expanded="false">
                      <i class="fa fa-ellipsis-v text-secondary"></i>
                    </a>
                    <ul class="dropdown-menu px-2 py-3 ms-sm-n4 ms-n5" aria-labelledby="dropdownTable">
                      <li><a class="dropdown-item border-radius-md" href="javascript:;">Action</a></li>
                      <li><a class="dropdown-item border-radius-md" href="javascript:;">Another action</a></li>
                      <li><a class="dropdown-item border-radius-md" href="javascript:;">Something else here</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-body px-0 pb-2">
              <div class="table-responsive">
                <table class="table align-items-center mb-0">
                  <thead>
                    <tr>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">English</th>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Abbreviation</th>
                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Spanish</th>
                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Definition</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for defi in definitions %}
                    <tr>
                      <td>
                        <div class="d-flex px-2 py-1">
                          {% if defi.category.lower == categories_dict.medicine %}
                          <div>
                            <img src="{% static 'img/small-logos/google-webdev.svg' %}" class="avatar avatar-sm me-3" title="{{defi.category.name.capitalize}}" alt="medicine">
                          </div>
                          {% elif defi.category.lower == categories_dict.social_programs %}
                          <div>
                            <img src="{% static 'img/small-logos/logo-asana.svg' %}" class="avatar avatar-sm me-3" title="{{defi.category.name.capitalize}}" alt="social programs">
                          </div>
                          {% elif defi.category.lower == categories_dict.car_insurance %}
                          <div>
                            <img src="{% static 'img/small-logos/logo-invision.svg' %}" class="avatar avatar-sm me-3" title="{{defi.category.name.capitalize}}" alt="car insurance">
                          </div>
                          {% elif defi.category.lower == categories_dict.legal %}
                          <div>
                            <img src="{% static 'img/small-logos/github.svg' %}" class="avatar avatar-sm me-3" title="{{defi.category.name.capitalize}}" alt="legal">
                          </div>
                          {% elif defi.category.lower == categories_dict.finance %}
                          <div>
                            <img src="{% static 'img/small-logos/bootstrap.svg' %}" class="avatar avatar-sm me-3" title="{{defi.category.name.capitalize}}" alt="finance">
                          </div>
                          {% endif %}
                          <div class="d-flex flex-column justify-content-center">
                            {% if defi.english|length > 20 %}
                            <a href="{% url 'dashboard_urls:word_description' defi.id %}" title="{{defi.english.all.0.name.capitalize}}"><h6 class="mb-0 text-sm">{{defi.english|slice:"0:20"|capfirst}}...</h6></a>
                            {% else %}
                            <a href="{% url 'dashboard_urls:word_description' defi.id %}" ><h6 class="mb-0 text-sm">{{defi.english.capitalize}}</h6></a>
                            {% endif %}
                          </div>
                        </div>
                      </td>
                      <td class="align-middle text-center text-sm">
                        <span class="text-xs font-weight-bold"> {{defi.abbreviation|slice:"0:22"|upper}} </span>
                      </td>
                      <td class="align-middle text-center text-sm">
                        {% if defi.spanish|length > 20 %}
                        <h6 class="text-xs font-weight-bold" title="{{defi.spanish.all.0.name.capitalize}}">{{defi.spanish|slice:"0:20"|capfirst}}...</h6>
                        {% else %}
                        <h6 class="text-xs font-weight-bold">{{defi.spanish.capitalize}}</h6>
                        {% endif %}
                      </td>
                      <td class="align-middle text-center text-sm">
                        {% if defi.text|length > 22 %}
                        <span class="text-xs font-weight-bold" title="{{defi.text.capitalize}}">{{defi.text|slice:"0:22"|capfirst}}...</span>
                        {% else %}
                        <span class="text-xs font-weight-bold">{{defi.text.capitalize}}</span>
                        {% endif %}
                      </td>
                    </tr>
                    {% endfor %}
                  </tbody>
                  <p></p>
                </table>
                  <ul class="pagination">
                    {% if definitions.has_previous %}
                        <li class="page-item">
                            <a class="page-link" href="?page=1">First</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="?page={{ definitions.previous_page_number }}">Prev</a>
                        </li>
                    {% endif %}
                
                    {% for num in definitions.paginator.page_range %}
                        {% if definitions.number == num %}
                            <li class="page-item active">
                                <span class="page-link">{{ num }}</span>
                            </li>
                        {% elif num > definitions.number|add:-3 and num < definitions.number|add:3 %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ num }}">{{ num }}</a>
                            </li>
                        {% endif %}
                    {% endfor %}
                
                    {% if definitions.has_next %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ definitions.next_page_number }}">Next</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="?page={{ definitions.paginator.num_pages }}">Last</a>
                        </li>
                    {% endif %}
                </ul>
              </div>
            </div>
          </div>
        </div>
        {% block scripts %}
        <div class="col-lg-4 col-md-6">
          <div class="card h-100">
            <div class="card-header pb-0">
              <h6>Scripts</h6>
              <p class="text-sm">
                <i class="fa fa-arrow-up text-success" aria-hidden="true"></i>
                <span class="font-weight-bold">24%</span> this month
              </p>
            </div>
            <div class="card-body p-3">
              <div class="timeline timeline-one-side">
                <div class="timeline-block mb-3">
                  <span class="timeline-step">
                    <i class="material-icons text-success text-gradient">notifications</i>
                  </span>
                  <div class="timeline-content">
                    <h6 class="text-dark text-sm font-weight-bold mb-0">$2400, Design changes</h6>
                    <p class="text-secondary font-weight-bold text-xs mt-1 mb-0">22 DEC 7:20 PM</p>
                  </div>
                </div>
                <div class="timeline-block mb-3">
                  <span class="timeline-step">
                    <i class="material-icons text-danger text-gradient">code</i>
                  </span>
                  <div class="timeline-content">
                    <h6 class="text-dark text-sm font-weight-bold mb-0">New order #1832412</h6>
                    <p class="text-secondary font-weight-bold text-xs mt-1 mb-0">21 DEC 11 PM</p>
                  </div>
                </div>
                <div class="timeline-block mb-3">
                  <span class="timeline-step">
                    <i class="material-icons text-info text-gradient">shopping_cart</i>
                  </span>
                  <div class="timeline-content">
                    <h6 class="text-dark text-sm font-weight-bold mb-0">Server payments for April</h6>
                    <p class="text-secondary font-weight-bold text-xs mt-1 mb-0">21 DEC 9:34 PM</p>
                  </div>
                </div>
                <div class="timeline-block mb-3">
                  <span class="timeline-step">
                    <i class="material-icons text-warning text-gradient">credit_card</i>
                  </span>
                  <div class="timeline-content">
                    <h6 class="text-dark text-sm font-weight-bold mb-0">New card added for order #4395133</h6>
                    <p class="text-secondary font-weight-bold text-xs mt-1 mb-0">20 DEC 2:20 AM</p>
                  </div>
                </div>
                <div class="timeline-block mb-3">
                  <span class="timeline-step">
                    <i class="material-icons text-primary text-gradient">key</i>
                  </span>
                  <div class="timeline-content">
                    <h6 class="text-dark text-sm font-weight-bold mb-0">Unlock packages for development</h6>
                    <p class="text-secondary font-weight-bold text-xs mt-1 mb-0">18 DEC 4:54 AM</p>
                  </div>
                </div>
                <div class="timeline-block">
                  <span class="timeline-step">
                    <i class="material-icons text-dark text-gradient">payments</i>
                  </span>
                  <div class="timeline-content">
                    <h6 class="text-dark text-sm font-weight-bold mb-0">New order #9583120</h6>
                    <p class="text-secondary font-weight-bold text-xs mt-1 mb-0">17 DEC</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% endblock scripts %}
      </div>
      {% endblock words %}





